* {
    padding: 0;
    margin: 0;
    
}

#gameCanvas {
    border: 1px solid #000000;
    background-color: #000000;
    background-image: url("./assets/newbg.png");
    background-size: 100% 100%;
    width: 65vw;
    height: 80vh;
}

.cebter {
    margin-top: 10vh;
    display: flex;
    justify-content: center;
}

body {
    margin: 0;
    background-image: linear-gradient(to bottom, rgb(1, 12, 17), rgb(5, 0, 24));
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}