* {
    padding: 0;
    margin: 0;
}

.menu-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#gameCanvas {
    border: 0.03vh solid #ff0000;
    background-color: #000000;
    background-image: url("./assets/newbg.png");
    background-size: 100% 100%;
    width: 65vw;
    height: 80vh;
}

#play-button {
    font-size: 3vh;
    margin-top: 7vh;
    height: 7vh;
    width: 20vh;
    background: transparent;
    border: 0.03vh solid #ff0000;
    color: #ffffff;
    transform: skewX(-20deg);
    transition: transform 0.3s ease;
    cursor: pointer;
}

#play-button:hover {
    transform: skewX(0deg);
    background-color: rgba(255, 0, 0, 0.2);
}

body {
    margin: 0;
    background-image: linear-gradient(to bottom, rgb(1, 12, 17), rgb(5, 0, 24));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1 {
    font-size: 10vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to bottom, #ff1c1c, #ff1c1c, #000000);
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block;
}